@keyframes bgcolor {
    0% {
        background-color: #45a3e5
    }

    30% {
        background-color: #66bf39
    }

    60% {
        background-color: #eb670f
    }

    90% {
        background-color: #f35
    }

    100% {
        background-color: #864cbf
    }
}
#homebody {
    -webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

#home_header{
    color: white;
    text-align: center;
    font-weight: bolder;
}
#home_box{
    width: 400px;
    border: 5px solid white;
    background-color: black;
    height: 350px;
    position: relative;
    left: 425px;
    top: 50px;
}
#start_button{
    background-color: white;
    border: 4px solid coral;
    font-weight: bolder;
    width: 125px;
    height: 50px;
    cursor: pointer;
    position: relative;
    left: 135px;
    top: 50px;
}
#start_button:hover{
    color: red;
    background-color: black;
    border: 4px solid white;
}
#about_button{
    background-color: white;
    border: 4px solid coral;
    font-weight: bolder;
    width: 125px;
    height: 50px;
    cursor: pointer;
    position: relative;
    left: 7px;
    top: 120px;
}
#about_button:hover{
    color: red;
    background-color: black;
    border: 4px solid white;
}
#dev_button{
    background-color: white;
    border: 4px solid coral;
    font-weight: bolder;
    width: 125px;
    height: 50px;
    cursor: pointer;
    position: relative;
    left: -121px;
    top: 190px;
}
#dev_button:hover{
    color: red;
    background-color: black;
    border: 4px solid white;
}
#about_body{
    -webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}
#about_header{
    color: white;
    text-align: center;
    font-weight: bolder;

}
#about_main_c{
    color: white;
    text-align: center;
}
#backtolobby{
    background-color: red;
    border: 5px solid white;
    font-weight: bolder;
    width: 150px;
    height: 50px;
    cursor: pointer;
    position: relative;
    left: 550px;
}
#devstatsbody{
    -webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}
#devstatsheader{
    color: white;
    text-align: center;
    font-weight: bolder;
}
#devstatsdesc{
    color: white;
    text-align: center;
    font-weight: bolder;
}   
#lobbybody{
    -webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}
#lobbyheader{
    color: white;
    text-align: center;
    font-weight: bolder;
}
#lobbydesc{
    color: white;
    text-align: center;
    font-weight: bolder;

}
#lobbyusername{
    position: relative;
    left: 545px;
    top: 0px;
    font-weight: bolder;
}
#submitusername{
    position: relative;
    left: 350px;
    top: 50px;
    width: 200px;
    height: 30px;
    font-weight: bolder;
    background-color: black;
    border: 5px solid white;
    color: white;
    cursor: pointer;
}
#submitusername:hover{
    border: 5px solid black;
    background-color: white;
    color: black;
}
#waitingbody{
    -webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}
#waitingheader{
    color: white;
    text-align: center;
    font-weight: bolder;
}
#showusername{
    text-align: center;
    color: white;
    position: relative;
    top: 20px;
}
#startgame{
    background-color: black;
    color: white;
    border: 5px solid white;
    width: 200px; 
    height: 45px;
    font-weight: bolder;
    cursor: pointer;
    position: relative;
    top: 35px;
    left: 540px;
}
#back_changeusername{
    background-color: black;
    color: white;
    border: 5px solid white;
    width: 200px; 
    height: 45px;
    font-weight: bolder;
    cursor: pointer;
    position: relative;
    top: 115px;
    left: 335px;
}

#panelbody{
    -webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}
#adminbody{
    -webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}
#room1_admin{
    background-color: black;
    color: white;
    border: 5px solid white;
    font-weight: bolder;
    width: 100px;
    height: 35px;
    position: relative;
    top: 10px;
    left: 200px;
    cursor: pointer;
}
#room2_admin{
    background-color: black;
    color: white;
    border: 5px solid white;
    font-weight: bolder;
    width: 100px;
    height: 35px;
    position: relative;
    top: 10px;
    left: 230px;
    cursor: pointer;
}
#room3_admin{
    background-color: black;
    color: white;
    border: 5px solid white;
    font-weight: bolder;
    width: 100px;
    height: 35px;
    position: relative;
    top: 10px;
    left: 260px;
    cursor: pointer;
}
#room4_admin{
    background-color: black;
    color: white;
    border: 5px solid white;
    font-weight: bolder;
    width: 100px;
    height: 35px;
    position: relative;
    top: 10px;
    left: 290px;
    cursor: pointer;
}
#room5_admin{
    background-color: black;
    color: white;
    border: 5px solid white;
    font-weight: bolder;
    width: 100px;
    height: 35px;
    position: relative;
    top: 10px;
    left: 320px;
    cursor: pointer;
}
#room6_admin{
    background-color: black;
    color: white;
    border: 5px solid white;
    font-weight: bolder;
    width: 100px;
    height: 35px;
    position: relative;
    top: 10px;
    left: 350px;
    cursor: pointer;
}
#room7_admin{
    background-color: black;
    color: white;
    border: 5px solid white;
    font-weight: bolder;
    width: 100px;
    height: 35px;
    position: relative;
    top: 80px;
    left: -425px;
    cursor: pointer;
}
#room8_admin{
    background-color: black;
    color: white;
    border: 5px solid white;
    font-weight: bolder;
    width: 100px;
    height: 35px;
    position: relative;
    top: 80px;
    left: -395px;
    cursor: pointer;
}
#room9_admin{
    background-color: black;
    color: white;
    border: 5px solid white;
    font-weight: bolder;
    width: 100px;
    height: 35px;
    position: relative;
    top: 80px;
    left: -365px;
    cursor: pointer;
}
#room10_admin{
    background-color: black;
    color: white;
    border: 5px solid white;
    font-weight: bolder;
    width: 100px;
    height: 35px;
    position: relative;
    top: 80px;
    left: -335px;
    cursor: pointer;
}
#room11_admin{
    background-color: black;
    color: white;
    border: 5px solid white;
    font-weight: bolder;
    width: 100px;
    height: 35px;
    position: relative;
    top: 80px;
    left: -305px;
    cursor: pointer;
}
#room12_admin{
    background-color: black;
    color: white;
    border: 5px solid white;
    font-weight: bolder;
    width: 100px;
    height: 35px;
    position: relative;
    top: 80px;
    left: -275px;
    cursor: pointer;
}
#panelheader{
    color: white;
    text-align: center;
}
#adminheader{
    color: white;
    text-align: center;

}
#adminbox{
    width: 400px;
    border: 5px solid white;
    background-color: black;
    height: 350px;
    position: relative;
    left: 425px;
    top: 50px;
}
#enteradminuser{
    color: white;
    text-align: center;

}
#adminusername{
    font-weight: bolder;
    position: relative;
    top: -50px;
    left: 110px;
}
#adminpassword{
    font-weight: bolder;
    position: relative;
    top: 0px;
    left: -76px;
}
#adminlogin{
    background-color: white;
    color: black;
    border: 5px solid teal;
    font-weight: bolder;
    width: 200px;
    height: 40px;
    cursor: pointer;
    position: relative;
    top: 20px;
    left: 100px;
}
#room1body{
  background-image: linear-gradient(to right, #FFFFFF, #000000);
  overflow: hidden;
}
#room1header{
    color: rgb(255, 211, 15);
    text-align: center;
}
#room1box{
    width: 650px;
    border: 5px solid white;
    background-color: black;
    height: 350px;
    position: relative;
    left: 295px;
    top: 50px;
}
#room1desc{
    color: white;
    text-align: center;
    font-weight: bolder;
}
#room1desc_2{
    color: white;
    text-align: center;
    font-weight: bolder;
}
#startoom1{
    background-color: white;
    color: rgb(255, 0, 0);
    font-weight: bolder;
    width: 200px;
    height: 45px;
    font-size: larger;
    border: 5px solid black;
    cursor: pointer;
    position: relative;
    left: 220px;
    top: 35px;
}
#showmath{
    color: white;
    text-align: center;
    font-weight: bolder;
    position: relative;
    top: -220px;
}

#showmath2{
    color: white;
    text-align: center;
    font-weight: bolder;
    position: relative;
    top: -230px;
}
#answer1_r1{
    width: 85px;
    height: 85px;
    font-weight: bolder;
    cursor: pointer;
    background-color: #ff523b;
    border: 5px solid black;
    color: white;
    position: relative;
    top: -220px;
    left: 100px;
}
#answer2_r1{
    width: 85px;
    height: 85px;
    font-weight: bolder;
    cursor: pointer;
    background-color: #ff523b;
    border: 5px solid black;
    color: white;
    position: relative;
    top: -220px;
    left: 120px;
}
#answer3_r1{
    width: 85px;
    height: 85px;
    font-weight: bolder;
    cursor: pointer;
    background-color: #ff523b;
    border: 5px solid black;
    color: white;
    position: relative;
    top: -220px;
    left: 140px;
}
#answer4_r1{
    width: 85px;
    height: 85px;
    font-weight: bolder;
    cursor: pointer;
    background-color: #ff523b;
    border: 5px solid black;
    color: white;
    position: relative;
    top: -220px;
    left: 160px;
}
#enterroom1code{
    font-weight: bolder;
    position: relative;
    top: -230px;
    left: -125px;
}
#showentercode{
    text-align: center;
    color: white;
    position: relative;
    top: -450px;
}
#submitr1code{
    width: 200px;
    height: 35px;
    font-weight: bolder;
    background-color: white;
    color: black;
    border: 3px solid rgb(42, 187, 187);
    cursor: pointer;
    position: relative;
    top: -375px;
    left: 225px;
}
#room2body{
    background-image: linear-gradient(to right, #E58C8A, #EEC0C6);
}
#room2header{
    color: white;
    text-align: center;
    font-weight: bolder;
    
}
#room2box{
    width: 800px;
    border: 5px solid white;
    background-color: black;
    height: 360px;
    position: relative;
    left: 215px;
    top: 50px;
}
#r2title{
    color: white;
    text-align: center;
}
#r2desc{
    color: white;
    font-weight: bolder;
}
#r2start{
    background-color: white;
    color: crimson;
    border: 3px solid rgb(15, 159, 216);
    font-weight: bolder;
    width: 200px;
    height: 35px;
    cursor: pointer;
    position: relative;
    left: 290px;

}
#dialogue{
    color: white;
    text-align: center;
    font-weight: bolder;
    position: relative;
    left: 15px;
    top: -320px;
    font-size: 50px;
}